*{
    margin: 0;
    padding: 0;
}
/* .us{
    position: relative;
    width: 375px;
    height: 812px;
} */
.icon{
    height: 2.5vh;
    widows: 3.5vh;
}
.header{
    position: fixed;
    /* position: relative; */
    width: 100%;
    top: 0vh;
    background-color: #3D5B99;
    /* height: 3vh; */
    padding: .5vh;
}

.input{
    border-radius: 10px;
    opacity: 0.9;
    /* background-color: aqua; */
}
.menu{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* width: 100%; */
}
.cover{
    /* position: absolute; */
    width: 100%;
    height: 15vh;
}
.user{
    position: absolute;
    width: 10vh;
    height: 10vh;
    left: 2.5vh;
    top: 8.5vh;
}
.uname{
    position: absolute;
    left: 15vh;
    top: 11vh;
    color: white;
    font-size: 1.15em;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 0.5em 2em;
}
.story{
    height: 30vh;
    width: 20vh;
    border-radius: 18px;
}
.friends
{
    height: 15vh;
    width: 15vh;
    border-radius: 18px;
}
.txt{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
    margin-top: 0.5em;
    font-size: 0.9em;
}
.micon{
    padding-left: 5vh;
    padding-right: 1vh;
}
.bicon{
    padding-left: 2vh;
}
.stry{
    margin-top: 1em;
    background-image: url(../img/stry.jpg);
}
.lnk{
    position: absolute;
    right: 1vh;
    font-size: medium;
}
.st{
    top: .5vh;
}

.sticky{
    position: fixed;
    padding: 1em 1.2em;
    right: 1em;
    bottom: 4em;
    background-color: #3D5B99;
    font-size: 1.25em;
    color: white;
    border: black thin;
    border-radius: 35px;
}
.tt{
    padding-top: .4em;
}
.tabbedview{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.tabicon{
    /* background-color: blueviolet; */
    height: 4vh;
    width: 4vh;
    padding-left: 2em;;
    padding-top: .4em;
    /* padding-bottom: 1em; */
}
.tabbar{
    position: fixed;
    width: 100%;
    bottom: 0vh;
    background-color: #3D5B99;
}
p{
    padding-left: 0.5em;
}
.ct{
    position: relative;
    width: 100%;
    left: 0;
}
@media(min-width:768px)
{
    .first-section
    {
        grid-template-columns: 2fr 1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: 0% 0%;
    }
}
@media(max-width:500px)
{
    .second-section
    {
        grid-template-columns: 1fr 1fr;
        /* margin: 0% 0%; */
    }
    .timg{
        display: none;
    }
}